# Executáveis
main
teste_*

# Arquivos de dados temporários
reviews.bin
reviewsComp.bin
reviewsDesc.txt
reviewsOrig.txt
saida.txt

# Backup files
*.backup
*.errado

# Editor temporários
*.swp
*.swo
*~

# Binários do sistema
.DS_Store
Thumbs.db
